table, th, td {
  border: 1px solid black;
}
tbody tr:nth-child(odd) {
   background-color: rgba(24, 249, 6, 0.63);
}
tbody tr:nth-child(even) {
   background-color: rgba(49, 110, 177, 0.62);
}
tbody td:nth-child(2) {
   color: rgb(187, 22, 22);
}
tbody td:nth-child(4) {
   color: rgb(9, 4, 222);
}
th {
  font-weight: normal;
}

ul {
  list-style: none;
}
.outer-content {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  width: 75%;
  height: 50px;
  background-color: pink;
}
.inner-content {
  align-self: center;
  width: 75%;
  height: 20px;
  background-color: blue;
  color: rgb(165, 176, 176);
}
fieldset {
  margin-bottom: 10px;

}
